.content-gif{  
  margin: 2em 0 4em 0;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 4px;
  grid-auto-rows: 15ex;
  justify-content: center;

}
.gifs{
  display: flex;
  flex-direction: column;
  padding: 0;
}
  .gifs img{
    width: 100%;
    object-fit: fill;
}
  a{
    color: #09f;
    font-size: 24px;
    text-decoration: none;
  }
  a:hover em{
      transition: 1s ease all;
      color: #eee;
  }
  em.title{
    margin: -3em 0 0 0;
    position: relative;
    font-size: 12px;
    color: #eee;
  }
  .gif-populares{
    padding: 0;
  }
  .gif-populares li{
    text-decoration: none;
    list-style: none;
  }

  .gif-populares li .link{
    color: #eee;
    font-size: 14px;
  }

  @media screen and (min-width: 479px){
    .content-gif{ 
    grid-template-columns: repeat(auto-fit, 300px);
    width: 90%;
    }
 
  }

